<h2 mat-dialog-title>Crear Propietario</h2>
<mat-dialog-content>
  <form [formGroup]="form">
    <mat-grid-list cols="2" rowHeight="100px">
      @for (formInput of formInputList; track formInput.controlName) {
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>{{ formInput.label }}</mat-label>
            <input [formControlName]="formInput.controlName" [type]="formInput.inputType" matInput>
            <mat-error>
              <app-form-error-message [controlName]="formInput.controlName"/>
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>
      }
    </mat-grid-list>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button [mat-dialog-close]="true">Guardar</button>
</mat-dialog-actions>
